<mat-card class="w3-margin w3-center">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Contact us</mat-card-title>
      <mat-card-subtitle>* please fill your information</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Full name" formControlName="name" />
      <mat-error *ngIf="contactForm.controls.name.invalid">{{
        nameError
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>email</mat-label>
      <input matInput placeholder="" formControlName="email" />
      <mat-error
        *ngIf="
          contactForm.controls.email.errors &&
          contactForm.controls.email.errors.required &&
          !contactForm.controls.email.errors.email
        "
        >{{ emailError }}</mat-error
      >
      <mat-error
        *ngIf="
          contactForm.controls.email.errors &&
          !contactForm.controls.email.errors.required &&
          contactForm.controls.email.errors.email
        "
        >{{ emailFormatError }}</mat-error
      >
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Mobile</mat-label>
      <input
        matInput
        placeholder="without 0 or +91   "
        formControlName="mobile"
      />
      <mat-error
        *ngIf="
          contactForm.controls.mobile.errors &&
          contactForm.controls.mobile.errors.required &&
          !isMobileNumberValid()
        "
        >{{ mobileNumberError }}</mat-error
      >
      <mat-error
        *ngIf="
          contactForm.controls.mobile.errors &&
          !contactForm.controls.mobile.errors.required &&
          isMobileNumberLengthValid()
        "
        >{{ mobilrNumberFormatError }}</mat-error
      >
      <mat-error
        *ngIf="
          contactForm.controls.mobile.errors &&
          !contactForm.controls.mobile.errors.required &&
          isMobileNumberValid()
        "
        >{{ itShouldBeANumber }}</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Submit
    </button>
  </form>
</mat-card>
