<p>{{ userData | json }}</p>
<button (click)="clickButton()">name</button>
<div>
  <input name="input" [(ngModel)]="name" />
  <button (click)="validateName()">Validate</button>
  <p style="color: red;" *ngIf="isNameValid">* this is mandatory field</p>
</div>
