<app-header></app-header>

<p>{{ title | currency: "EUR" }}</p>

<p>{{ today | date: "d/M/y" }}</p>

<input [(ngModel)]="value" />
<p>{{ value | squareroot }}</p>

<div *ngFor="let post of posts">
  <p>{{ post | json }}</p>
</div>

<div *ngFor="let data of dataParent">
  <app-interact
    [userData]="data"
    (buttonClicked)="buttonClickesdFromChild($event)"
  ></app-interact>
</div>

<div *ngFor="let user of users">
  <p>{{ user | json }}</p>
</div>
