<app-header></app-header>


<input [(ngModel)]="title" [disabled]="show" (keyup)="isLong()" />

<p *ngIf="show">I am ngIf directive</p>
<p appHighlighter>{{ names }}</p>

<ul *ngFor="let singleName of names">
  <li>{{ singleName }}</li>
</ul>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<div [ngSwitch]="customer.name">
  <p *ngSwitchCase="'Sam'">the name is sam</p>
  <p *ngSwitchCase="'olive'">the name is olive</p>
  <p *ngSwitchDefault>the name is nthing</p>
</div>

<p>{{ customer | json }}</p>

<ng-template></ng-template>

<div *ngFor="let deal of deals">
  <img src="{{ deal.imageURL }}" />
</div>
